@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway-custom {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 00;
  font-style: normal;
}

/* 
   fontFamily: {
        raleway: ['Raleway', 'sans-serif'],
      },
      colors: {
        'primary-blue': '#1E3A8A', // Deep Blue for buttons, header
        'accent-gold': '#F59E0B', // Gold for highlights, hover
        'neutral-gray': '#4B5563', // Gray for secondary text
        'success-green': '#10B981', // Green for success states
      },
*/
